/* @charset "UTF-8"; */
@import "partials/_base";

body {
  background-color: #93c5c1;
  font-size: 16px;
  font-family: 'Open Sans', Arial;
  color: #fff;
}

h1 {
  width: 40%;
  display: block;
  margin: 50px auto;
  font-size: 3em;
}

img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.outer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-1 {
  width: 40%;
}

.container-2 {
  width: 50%;
}

.container-2 p {
  display: block;
  margin: 0 auto;
  width: 25%;
  font-size: 1.5em;
}

#timer {
  font-size: 5em;
  margin-top: 100px;
}
