/* @charset "UTF-8"; */
@import "partials/_base";

body {
  background-color: f5f5f5;
  font-size: 16px;
  font-family: 'Open Sans', Arial;
  color: #fff;
  margin: 0;
}

.container-4 {
  background: #93c5c1;
  padding: 50px;
  margin-bottom: 50px;
}

h1 {
  width: 36%;
  display: block;
  margin: 50px auto;
  font-size: 3em;
  color: f5f5f5;
  text-align: center;
}

h2 {
  font-size: 2em;
  display: block;
  margin: 50px auto;
  width: 30%;
  color: #93c5c1;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.outer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-1 {
  width: 40%;
}

.container-2 {
  width: 50%;
}

.container-2 p {
  display: block;
  margin: 0 auto;
  width: 25%;
  font-size: 1.5em;
}

#timer {
  font-size: 5em;
  margin-top: 100px;
  color: #f77f00;
}
