<!DOCTYPE html>
<html>
  <head>
    	<title>{{ site.title }}</title>
      <link rel="stylesheet" href="{{site.url}}/css/app.css">
  </head>
  <body>
    <div class="container-1">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Coffee_cup_icon.svg/2000px-Coffee_cup_icon.svg.png"/>
    </div>
    <div class="container-2">
      <h3>
        Total amount of cofffees
      </h3>
      <p>
        100 cups of coffee
      </p>
      <h3>
        Total amount of team coffees
      </h3>
      <p>
        50 coffees
      </p>
    </div>
  </body>
</html>
